doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href=public_url("/vendor/pure/pure.css"))
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <link rel="stylesheet" href=!{public_url("/stylesheets/side-menu-old-ie.css")}>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href=!{public_url("/stylesheets/side-menu.css")}>
    <!--<![endif]-->
    link(rel='stylesheet', href=public_url("/vendor/font-awesome/css/font-awesome.css"))
    link(rel='stylesheet', href=public_url("/vendor/highlightjs/styles/default.css"))
    link(rel="stylesheet", href=public_url("/stylesheets/style.css"))
    script(src=public_url("/vendor/highlightjs/highlight.pack.js"))
    script hljs.initHighlightingOnLoad();
  body
    #layout
      a#menuLink.menu-link(href='#menu')
        span
      #menu
        .pure-menu.pure-menu-open
          a.pure-menu-heading(href=scoped_url())= webserver.title
          ul.pure-menu-list
            each tab in webserver.tabs
              li.pure-menu-item(class=(_.isObject(page_data) && page_data.title === tab.title ? "pure-menu-selected" : ""))
                a.pure-menu-link(href=scoped_url(_.first(tab.path).replace(/\/$/, "")))= tab.title
      block main
    script(src=public_url("/vendor/jquery/dist/jquery.min.js"))
    script(src=public_url("/javascripts/ui.js"))
    script(src=public_url("/socket.io/socket.io.js"))
    script(src=public_url("/javascripts/socket-io.js"))
