doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href=public_url("/vendor/pure/pure.css"))
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <link rel="stylesheet" href=!{public_url("/stylesheets/side-menu-old-ie.css")}>
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href=!{public_url("/stylesheets/side-menu.css")}>
    <!--<![endif]-->
    link(rel="stylesheet", href=public_url("/vendor/font-awesome/css/font-awesome.css"))
    link(rel="stylesheet", href=public_url("/vendor/highlightjs/styles/default.css"))
    link(rel="stylesheet", href=public_url("/stylesheets/style.css"))
    script(src=public_url("/vendor/highlightjs/highlight.pack.js"))
    script hljs.initHighlightingOnLoad();
  body
    block body
    script(src=public_url("/vendor/jquery/dist/jquery.min.js"))
    script(src=public_url("/javascripts/ui.js"))
    script(src=public_url("/socket.io/socket.io.js"))
    script(src=public_url("/javascripts/socket-io.js"))
